.tip {
  width: 100%;
  background-color: #ebebfc;
  color: #4f4fb9;

  border-radius: 0.62rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.tip h3 {
  font-size: 1.23rem;
  font-weight: 700;
}

.tip p {
  font-size: 1rem;
  margin-top: 0.31rem;
}

.tip > img {
  height: 2rem;
}
