.letter {
  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;

  background-color: #ebebfc;
  color: #6363db;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
